csvvalidation/pipeline/ExecuteSPPipe.json
{
	"name": "ExecuteSPPipe",
	"properties": {
		"activities": [
			{
				"name": "Lookupsptoexexute",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SendEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT SPName, Parameter FROM SpMetadata WHERE GroupName = @{pipeline().parameters.GroupName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachsp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupsptoexexute",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupsptoexexute').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Execute Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().SPName}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"mappingID": {
										"value": {
											"value": "@{item().Parameter}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-95.eastus.logic.azure.com:443/workflows/3752a392b0f14a5b9951515ace108efa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gYBz13CCegdfH7MQ_LqddV8yWNbJXa-S8LD4TD1VDik",
					"method": "POST",
					"body": {
						"DataFactoryName": "My Factory",
						"EmailTo": "niraj_k_y@live.com",
						"ErrorMessage": "Failed",
						"PipelineName": "testpipe",
						"Subject": "Failed Pile"
					}
				}
			}
		],
		"parameters": {
			"GroupName": {
				"type": "string",
				"defaultValue": "2"
			}
		},
		"folder": {
			"name": "SynapseLoad"
		},
		"annotations": []
	}
}