csvvalidation/pipeline/PipelineSynapseAnalyticsload.json
{
	"name": "PipelineSynapseAnalyticsload",
	"properties": {
		"activities": [
			{
				"name": "LookupMGAFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SourceFoler, SourceFilePrefix, TargetTable, Mapping\nFROM \nExtractMetadata\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EachExtract",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMGAFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMGAFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy data- Polybase",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/@{'MGA1'}/@{'*.csv'}"
								},
								{
									"name": "Destination",
									"value": "@{'schema'}.@{'table'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@item().Mapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedtextADLS",
									"type": "DatasetReference",
									"parameters": {
										"FileFolder": {
											"value": "@item().SourceFoler",
											"type": "Expression"
										},
										"FileName": {
											"value": "@{item().SourceFilePrefix}.csv",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TargetTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFolder": {
				"type": "string"
			},
			"SourceFile": {
				"type": "string"
			},
			"TargetTableSchema": {
				"type": "string"
			},
			"TargetTableName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SynapseLoad"
		},
		"annotations": []
	}
}