csvvalidation/pipeline/PipelineSynapseAnalyticsload.json
{
	"name": "PipelineSynapseAnalyticsload",
	"properties": {
		"activities": [
			{
				"name": "LookupMGAFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SourceFolder, SourceFilePrefix, TargetSchema, TargetTable, Mapping\nFROM \nExtractMetadata\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EachExtract",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMGAFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMGAFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy data- Polybase",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/@{'MGA1'}/@{'*.csv'}"
								},
								{
									"name": "Destination",
									"value": "@{'schema'}.@{'table'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@{item().SourceFilePrefix}*.csv",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBatchSize": 10000,
									"preCopyScript": {
										"value": "Truncate Table @{item().TargetSchema}.@{item().TargetTable}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@item().Mapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedtextADLS",
									"type": "DatasetReference",
									"parameters": {
										"FileFolder": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"FileName": {
											"value": "@{item().SourceFilePrefix}*.csv",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableStaging",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TargetTable",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().TargetSchema",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookupsp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EachExtract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nSELECT DISTINCT GroupName FROM SpMetadata",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ExecuteSPforEachgroup",
				"description": "Execute SPs inside each group in sequence",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupsp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupsp').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute sp Pipeline for group",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExecuteSPPipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"GroupName": {
										"value": "@item().GroupName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SendFailureEmailUsingLogicApp",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteSPforEachgroup",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-95.eastus.logic.azure.com:443/workflows/3752a392b0f14a5b9951515ace108efa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gYBz13CCegdfH7MQ_LqddV8yWNbJXa-S8LD4TD1VDik",
					"method": "POST",
					"body": {
						"DataFactoryName": "My Factory",
						"EmailTo": "niraj_k_y@live.com",
						"ErrorMessage": "Failed",
						"PipelineName": "testpipe",
						"Subject": "Failed Pile"
					}
				}
			}
		],
		"folder": {
			"name": "SynapseLoad"
		},
		"annotations": []
	}
}